html {
  height: 100%;
  min-width: 400px;
}
a:link, a:visited{
text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #222;
  height: 100%;
}

nav {
  display: flex;
  padding: 8px;
  
  align-items: stretch;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#leftside {
  flex-grow: 1;
  align-self: left;
  align-items: stretch;
  display: block;
  padding: 8px;
 
}

#leftside li {
  line-height: 24px;
  float: left;
  padding: 3px;
}

#rightside {
  flex-grow: 2;
  align-self: right;
  display: block;
  padding: 8px;
  
}

#rightside li {
  line-height: 24px;
  float: right;
  padding: 3px;
}

.personal {
  display: flex;
}

.googlelogo {
  display: flex;
  flex-direction: column;
  /*order: 2;*/
  align-items: center;
  min-height: 200px;
}

.actuallogo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-top: auto;
}

.search_container {
  max-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#mid{
  text-align: center;
  
}



.search_field{
  display: flex;
  border: 1px solid #e1e1e1;
  border-radius: 50px;
  height: 24px;
  margin-top: 3px;
  width: 450px;
}
#search{
  border:none;
  border-radius: 50px;
  height: 24px;
  width: 100%;
}
#mid button{
  margin: 20px 5px;
  height: 36px;
  border-style: 1px solid #ffffff;
}

footer {
  background-color: rgb(235, 235, 235);
  display: block;
  padding: 8px;
  
  justify-self: flex-end;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  
}
footer ul li{
  float: left;
  padding: 8px;
}
.Land{
  background-color: rgb(235,235,235);
  margin-top: auto;
  padding: 10px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.452);
}
